@theme-color : #8CBE1C;
@primary-color : #2c3e50;
@info-color : #717376;
@success-color : #4BB08D;
@processing-color : @primary-color;
@warning-color : #EC972B;
@error-color : #BE4141;

body,
html,
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    vertical-align: middle;
}

.flex-m {
    display: flex;
    height: 100%;
    align-items: center;
}

.flex-b {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.flex-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.font-color {
    color: @theme-color;
    cursor: pointer;
}

.font-weight {
    font-weight: bold;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: rgba(140, 190, 28, 0.2);
    color: @theme-color;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: @theme-color;
    outline: 0;
}